/*/*
grey	#eff0ed	(239,240,black237)
black        #333332	(51,51,50)
blue	#1352a1	(19,82,161)
yellow	#fed364	(254,211,100)
red	#fa6964	(250,105,100)
*/
/*Changes to the Heading and Index Page*/
* {
  box-sizing: border-box
}

.container {
  padding: 0 20px;
}

.row {
  margin: 15px 0;
  /* 25px top and bottom, 0 left and right */
}

.LogoM {
    width: 125px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  padding-top: 27px;
  padding-right: 0;
  right: 0;
  top: 2px;
  font-size: 40px;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
}

nav > ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:visited {
  color: #fa6964;
}

nav>ul>li>a:hover {
  color: #cc6540;
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: #994c30;
}

#me {
  background-color: #333332;
  padding: 10px 0 5px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%
}

#hero {
  background-color: #eff0ed;
  padding-top: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero {
  padding-top: 125px;
}

#hero h1 {
  margin: 0;
  padding-top: 0.67em;
  text-align: center;
}

#project1 h2 {
  text-align: center;
}

#hero .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#project1 .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#project2 .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#project3 .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

/*===========================
 Font Guidelines to the Body
 ==============================*/
body {
  background-color: #eff0ed;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  /* Sets the font size to 16px */
  font-weight: 500;
  /* Sets the font weight to 500 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #333332;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%;
}

i {
  color: #eff0ed;
}

i:hover {
  color: #cc6540
}

a {
  color: #fa6964 ;
  text-decoration: none;
  /* No underlining */
}

#me a {
  color: #eff0ed;
}

#me a:hover, a:visited, a:focus {
  color: #fa6964;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

#me a:active {
  color: #D2896E
}

#me a:visited{
  color: #fa6964;
}

#me a:focus {
  color: #fa6964;
}


a:visited {
  /* visited link */
  color: #fa6964;
}

a:active {
  /* selected link */
  color: #D2896E;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #fa6964;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #1352a1;
  text-transform: uppercase;
  border: 2px solid #1352a1;
}

.button.contact:hover {
  background-color: #002a71;
  color: #ffffff;
}

#icon {
  align-items: baseline;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ========================
   Layour Styling to Vela
============================*/
#vela1 {
  padding-top: 175px;
  display: inline-block;
  width: 100%;
  background-color: #eff0ed;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  /* Sets the font size to 16px */
  font-weight: 500;
  /* Sets the font weight to 500 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #333332;
}

#vela {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  background-color: #eff0ed;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  /* Sets the font size to 16px */
  font-weight: 500;
  /* Sets the font weight to 500 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #333332;
}

#vela1 p {
  text-align: left;
}

#vela1, #vela h1 {
  text-align: center;
}

#vela h2 {
  text-align: left;
}

/* =======================
Layout for Lingo and You
===========================*/
#lingo1 {
  padding-top: 200px;
}

#lingo {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  background-color: #eff0ed;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  /* Sets the font size to 16px */
  font-weight: 500;
  /* Sets the font weight to 500 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #333332;
}

#lingo1 h1 {
  text-align: center;
}

#lingo h1 {
  text-align: center;
}

/* ====================
Layout for About Page
=======================*/
#about {
  padding-top: 125px;
}

#about {
  display: inline-block;
  width: 100%;
  background-color: #eff0ed;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  /* Sets the font size to 16px */
  font-weight: 500;
  /* Sets the font weight to 500 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #333332;
}

#about h1 {
  text-align: center;
}

#about h2 {
  text-align: left;
}

#about h3 {
  margin-top: 0px;
}

/* ===============================
 Layout Styling for Footer
=============================== */
#contact {
  background-color: #333332;
  padding: 5px;
  color: #eff0ed
}

#contact h2 {
  text-align: center;
}

#contact p {
  text-align: center;
}

#icon {
  text-align: center;
}

/* ==============================
  Page layout
================================= */
[class*='col-'] {
  float: left;
  padding-right: 10px;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.col-sm-5 {
  width: 41.66%;
}

.col-sm-6 {
  width: 50%;
}

.col-sm-7 {
  width: 58.33%;
}

.col-sm-12 {
  width: 100%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px){
  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
  nav > ul {
    margin: 1em 0;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 642px) {
  .LogoM {
    margin-left: 20px;
    float: left;
  }

  #me{
    padding: 10px 0 10px;
  }

  nav {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
  }

  .col-md-6 {
    width: 50%;
  }

  #hero {
    padding-top: 150px;
  }

  #vela1 {
    padding-top: 150px;
  }

  #lingo1 {
    padding-top: 150px;
  }

  #about {
    padding-top: 150px;
  }

  #about img{
    width: 65%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

}
